@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

:root {
  --main-bg: #282A36;
  --secondary-bg: #262626;
}

* {
  box-sizing: border-box;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

i {
  font-weight: 200;
}

body {
  font-family: 'Inconsolata', monospace;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg);
}

.page-header {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--secondary-bg);
}

.main-menu  {
  display: flex;
  height: 100%;
  line-height: 30px;
}

.top-bar li:hover {
  background-color: #363636;
  cursor: default;
}

.main-menu li{
  padding: 0 10px;
}

.main-header {
  font-weight: 300;
  font-size: 20px;
}

.tabs-section{
  max-height: calc(100vh - 64px);
  overflow-y: scroll;
}

.tabs-section::-webkit-scrollbar {
  width: 16px;
}

.tabs-section::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0, 0.4);
}

/* SIDE BAR */
.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 46px;
  background-color: #343746;
}

.side-bar ul {
  width: 100%;
}

.side-bar li {
  padding: 12px 0;
  text-align: center;
}

.side-bar li i {
  font-size: 24px;
  font-weight: 100;
  color: gray;
}

.side-bar_bottom-icons {
  margin-top: auto;
}

/* MAIN */
.page-main {
  padding-left: 46px;
  font-size: 18px;
}

.tabs-panel {
  background-color: #191A21;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.tabs-list {
  display: flex;
}

.tab-control {
  position: relative;
  width: 160px;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  padding-left: 40px;
  background-color: var(--secondary-bg);
  cursor: pointer;
  user-select: none;
}

.tab-control::before {
  content: "";
  position: absolute;
  left: 10px;
  font-family: "Font Awesome 5 Brands";
  color: yellow;
  font-size: 18px;
}

.tab-control.portfolio::before {
  content: "\f3b8";
}

.tab-control.skills::before {
  content: "{ }";
  color: #fff;
}

.tab-control.contacts::before {
  content: "</>";
  color: #ce7e73; 
}

.tab-control i.fa-code{
  color: #ce7e73;
}

.tab-control.active {
  border-top: 2px solid purple;
  background-color: var( --main-bg);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tag {
  color: #ce7e73
}

/* PORTFOLIO SECTION */
.portfolio-section {
  /* height: 100%; */
  /* border: 2px solid red; */
}

.tab-content.portfolio.active {
  /* border: 2px solid green; */
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px 20px;
}

.portfolio-item {
  height: 200px;
  width: 200px;
  margin: 30px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 200px;
  font-size: 22px;
  letter-spacing: 2px;
}
